@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    #search input {
        width: 50%;
    }
    #containerdestak {
        flex-flow: row wrap;
        justify-content: center;
        row-gap: 3px;
    }
    #containerofertas {
        flex-flow: row wrap;
        justify-content: center;
        margin: auto;
        max-width: 800px;
    }
}
@media screen and (min-width: 993px) {
    #cab {
        flex-direction: row;
        justify-content: space-between;
    }
    #divtopsearch {
        height: 100px;
        width: 50%;
        display: flex;
        align-items: center;
    }
    #logo {
        margin: 10px;
    }
    #search {
        width: 100%;
        justify-content: flex-start;
    }
    #botoespc {
        display: block;
        padding: 10px;
    }
    #botoespc a {
        padding: 10px;
    }
    #burguer {
        display: none;
    }
    #containerdestak {
        flex-direction: row;
        justify-content: center;
    }
    #containerofertas {
        flex-flow: row wrap;
        justify-content: center;
        max-width: 1300px;
        margin: auto;
    }
}