@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100vh;
}
#logo {
    color: #17A2B8;
    font-size: 2em;
    font-weight: bold;
}
#cabecalho {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: #343A40;
    padding: 10px;
}
#cabecalho a {
    text-decoration: none;
    color: #bdbd46;
}
#cabecalho a:hover {
    text-decoration: underline;
    color: #8b8b17;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;
}
#container {
    padding-top: 70px;
    overflow-x: auto;
}
tr:nth-child(odd) {
    background-color: #343A40;
}
tr:nth-child(even) {
    background-color: #43494E;
}
table {
    color: white;
    border-collapse: collapse;
}
td, th {
    padding: 15px 30px;
    border: 1px solid rgb(88, 84, 84);
    text-align: center;
}
tbody tr:hover {
    background-color: #09454e;
}
caption {
    color: #17A2B8;
    font-size: 1.5em;
    font-weight: bold;
    padding-bottom: 3px;
}