@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}
body{
    height: 100vh;
}
#ad {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: #800080;
    color: white;
}
#ad p {
    padding-top: 5px;
}
#logo {
    color: #17A2B8;
    font-size: 1.5em;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}
menu a {
    text-decoration: none;
    color: #bdbd46;
}
#cab {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #343A40;
}
#divtopsearch {
    width: 100%;
}
#search {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#search input {
    height: 30px;
    width: 70%;
    margin: 5px 0px;
    border-radius: 10px 0px 0px 10px;
    border: none;
}
#botoespc {
    display: none;
}
#botao {
    display: flex;
    justify-content: center;
    align-items: center;

    color: green;
    border: 1px solid green;
    height: 30px;
    width: 35px;
    margin-top: 4px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
#oculto {
    display: none;
}
#oculto a {
    padding: 4px 0px;
    display: block;
    border-top: 1px solid gray;
}
#oculto a:hover, #botoespc a:hover {
    text-decoration: underline;
    color: #8b8b17;
}
#burguer {
    width: 100%;
    cursor: pointer;
    text-align: center;
    color: white;
    padding-top: 10px;
}
#titulodestak {
    color: green;
    text-align: center;
    font-size: 2em;
    margin-bottom: 10px;
}
.prodestak a img {
    height: 235px;
    width: 235px;
}
.prodestak a, .produto a {
    text-decoration: none;
    color: green;
}
.prodestak {
    display: inline-block;
    background-color: #343A40;
    padding: 10px 10px 40px 10px;
}
#containerdestak {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#tituloferta {
    color: green;
    font-size: 2em;
    text-align: center;
    margin: 50px 0px 10px 0px;
}
#containerofertas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px 0px;
}
.produto a img {
    height: 200px;
    width: 200px;
    margin-left: 8px;
}
.produto {
    display: inline-block;
    background-color: #343A40;
    padding: 10px 10px 40px 10px;
}
.prodestak, .produto {
    border-left: 1px solid green;
    border-right: 1px solid green;
}
.espacoprod {
    margin-bottom: 10px;
}
#botoespag {
    display: flex;
    justify-content: center;
    margin: 10px 0px 30px 0px;
}
.pagsbot {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    border: 2px solid green;
    background-color: transparent;
    margin: 0px 5px;
    cursor: pointer;
    font-weight: bold;
    color: green;
}
#rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #EFF0F0;
}
#rodape a {
    text-decoration: none;
    margin: 4px 0px;
    color: black;
}
#copy {
    background-color: #DEE1E2;
    color: green;
    text-align: center;
    padding: 10px;
}
#rodape a:hover {
    text-decoration: underline;
}